article{
    h3{
        font-family:'Lumanosimo', cursive;
        background-color: #f0fffe;
        margin: 1rem;
        text-align: center;
    }
    .flex-nowrap{
        margin-bottom: 10px;
    }
    .btn{
        margin-left: 80%;
    }
    .mensaje{
        height: 150px;
    }
    .input-group-text{
        font-family:'Lumanosimo', cursive;
    }
    .columna-parrafo{
       background-color: #f0fffe;
    }
}

       
        
      

    