footer{
    display: flex;
    background-color: aquamarine;
    align-items: center;
    justify-content: center;
    section{
        ul{
            list-style: none;
            display: flex;
            li{
                margin: 0 30px;
                a{
                    color: black;
                    text-decoration: none; 
                }
            }
        }
    }
        



        
}