footer{
    background-color: aquamarine;
    .redes-container{
        ul{
            display: flex;
            list-style: none;
            justify-content: center;
            li{
                a{
                    margin: 15px;
                    padding: 10px;
                    background-color: white;
                    
                    img{
                        width: 2rem;
                        height: 2rem;
                    }
                    
                }
                a:hover{
                    background-color: black;
                }
            }
        }
    }
   

}