.notas-formacion{
    display: block;
        font-size: 100;
        font-family: 'Lumanosimo', cursive;
        background-color: #f0fffe;
        color: black;
        margin: 1rem;
        text-align: center;
}
.capsulas{
    font-family:'Lumanosimo', cursive;
    background-color: #f0fffe;
    margin: 1rem;
    text-align: center;
}
.cursos-cap{
    .row{
        margin: 100px;
        .col{
            a{
                border: solid black 3px;
                size: 3rem;
                padding: 50px;
                margin-bottom: 10px;
                color: white;
                font-size: 2rem;
                font-family: 'Courier New', Courier, monospace;
                background-color: blue;
                text-decoration: none;
            }
            a:hover{
                background-color: aquamarine;
                color: black;
                border-radius: 5rem;
                

            }
        }
    }
    .elemento{
        cursor: pointer;
    }
    
    
}
