.seccion-productos{
    background-color: #f0fffe;
        .col-sm-3{
        .card-body{
            justify-content: center;
            align-items: center;
            .card-title{
            font-family:'Lumanosimo', cursive;
            margin: 1rem;
            text-align: center;
            }
            .producto{
            width: 100%;
            height: 100%;
            
            }
            .btn{
            margin: 15px;
            margin-left: 40%;
            }
            }
        }
        .vermas{
            margin-left: 10px;
        }

}